/**************** FONTS ****************/
@font-face {
    font-family: WorkSans;
    font-display: swap;
    src: url("/fonts/WorkSans-VariableFont_wght.ttf");
}

@font-face {
    font-family: Montserrat;
    font-display: swap;
    src: url("/fonts/Montserrat-VariableFont_wght.ttf");
}

/**************** GLOBAL RULES ****************/
* {
    box-sizing: border-box;
    margin: 0;
}

html {
    color: #eee;
    font-family: WorkSans;
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    background-color: #111;
    scroll-behavior: smooth;
}

.main__logo {
    color: #81d4f7;
    font-family: Montserrat;
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.5rem;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.section {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 90%;
}

.section__title {
    align-self: center;
    margin-bottom: 2rem;
    padding: 1.3rem 0;
    width: 70%;
    color: #81d4f7;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.5rem;
    text-align: center;
    text-wrap: pretty;
    text-shadow: 0 0 2rem #666;
}

.section__title span {
    display: block;
    margin: 1rem 0;
    color: #ddd;
    font-size: 1rem;
    letter-spacing: 0.3rem;
    text-shadow: none;
    line-height: 1.5rem;
}

/**************** HEADER RULES ****************/
.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    height: 4rem;
    width: 100%;
    background-color: #111;
    z-index: 2;
}

.header__logo-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header__logo {
    width: 1.5rem;
}

.header__nav{
    display: flex;
    align-items: stretch;
    min-width: 20rem;
    width: 70%;
}

.header__nav-list {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    width: 100%;
}

.header__nav-item {
    list-style: none;
}

.header__nav-item img {
    height: 1.2rem;
    width: 1.2rem;
}

.header__nav-item a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 100%;
    color: #eee;
    font-size: 0.8rem;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    transition: filter 0.2s;
}

.header__nav-item a > p {
    display: none;
}

.header__nav-item a:hover {
    filter: drop-shadow(0 0 1rem #fff);
}

.link-selected a {
    padding: 0 0.8rem;
    color: #81d4f7;
    border-bottom: 1px solid #81d4f7;
}

/**************** WELCOME RULES ****************/
.welcome {
    display: grid;
    grid-template-rows: 5fr 1fr;
    padding-top: 4rem;
    height: 80vh;
    min-height: 40rem;
    background-image: linear-gradient(#111 5%, transparent, #111 90%), url("/imgs/welcome-background.webp");
    background-position: center center;
    background-size: cover;
}

.welcome__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome__text-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 100%;
    list-style: none;
}

.welcome__text-items {
    padding: 0.5rem 0;
    color: #81d4f7;
    font-size: 1.5rem;
    font-family: Montserrat;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

.welcome__text-explain {
    padding: 0.5rem 0;
    font-size: 1rem;
    font-family: Montserrat;
    font-weight: 500;
    text-wrap: pretty;
    letter-spacing: 0.3rem;
}

.welcome__text {
    width: 70%;
    text-align: center;
}

.welcome__logo-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.welcome__logo {
    width: 4rem;
}

.welcome__nav {
    display: flex;
    justify-content: center;
}

.welcome__nav-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 4rem;
    width: 100%;
    list-style: none;
}

.welcome__nav-list svg {
    width: 1.3rem;
    transition: filter 0.2s;
}

.welcome__nav-list svg .links {
    fill: #eee;
}

.welcome__nav-list svg:hover {
    filter: drop-shadow(0 0 1rem #fff);
}

/**************** SKILLS RULES ****************/
.skills {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 0;
}

.skills__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    width: 100%;
}

.skills__titles {
    margin-bottom: 2rem;
    padding: 0.8rem 1rem;
    width: 70%;
    font-size: 1.3rem;
    letter-spacing: 0.3rem;
    text-align: center;
}

.skills__deep-title {
    color: #81d4f7;
    border-bottom: 1px solid #81d4f7;
}

.skills__surf-title {
    color: #81d4f7;
    border-bottom: 1px solid #81d4f7;
}

.skills__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0;
    list-style: none;
}

.skills__item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.6rem 1rem;
    color: #fff;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    border: 1px solid #000;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem #000;
}

.skills__icons {
    height: 1rem;
}

.skills__soft-container {
    align-self: flex-end;
}

/**************** PROJECTS RULES ****************/
.projects {
    align-items: center;
}

.projects__section {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    width: 100%;
}

.projects__section-header {
    margin-bottom: 1.5rem;
    padding: 1rem 0;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-align: center;
    border-bottom: 1px solid #eee;
}

.projects__article-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.projects__article {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 1.5rem;
    height: 15rem;
    background: linear-gradient(to right, #181818 50%, #222);
    border-radius: 2rem;
    border: 1px solid #81d4f7aa;
    border-right: 1px solid #81d4f7;
    border-top: 1px solid #81d4f7;
    box-shadow: 0 0 1rem #81d4f7;
    transition: box-shadow 0.5s;
}

.projects__article:hover {
    box-shadow: 0 0 2rem #81d4f7;
}

.projects__article-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 0.8rem;
    padding-right: 0;
}

.projects__article-header {
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 0.3rem;
    color: #81d4f7;
}

.projects__article-description {
    font-size: 1rem;
    text-wrap: pretty;
    letter-spacing: 0.1rem;
    line-height: 1.2rem;
}

.projects__article-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects__article-img > img {
    width: 80%;
    max-width: 10rem;
    filter: drop-shadow(0 0 1rem #000);
}

/**************** CERTIFICATES RULES ****************/
.certificates__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0;
}

.certificates__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    width: 10rem;
    height: 12rem;
    border: 1px solid #000;
    border-radius: 1rem;
    box-shadow: 0 0 1rem #000;
}

.certificates__header {
    font-size: 0.9rem;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1rem;
    line-height: 1.2rem;
}

.certificates__item-1st {
    background-image: linear-gradient(transparent, #000000ee), url("/certificates/HTML\ -\ Mimo.png");
    background-position: center center;
    background-size: cover;
}

.certificates__item-2nd {
    background-image: linear-gradient(transparent, #000000ee), url("/certificates/CSS\ -\ Mimo.png");
    background-position: center center;
    background-size: cover;
}

.certificates__item-3rd {
    background-image: linear-gradient(transparent, #000000ee), url("/certificates/JavaScript\ Intermedio\ -\ Sololearn.jpg");
    background-position: center center;
    background-size: cover;
}

.certificates__item-4th {
    background-image: linear-gradient(transparent, #000000ee), url("/certificates/Desarrollador\ Python\ -\ Sololearn.jpg");
    background-position: center center;
    background-size: cover;
}

.certificates__item-5th {
    background-image: linear-gradient(transparent, #000000ee), url("/certificates/SQL\ Intermedio\ -\ Sololearn.jpg");
    background-position: center center;
    background-size: cover;
}

/**************** CONTACT RULES ****************/
.contact__cta {
    align-self: center;
    padding: 1rem 0;
    width: 12rem;
    color: #eee;
    font-size: 0.8rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    background-color: transparent;
    border-radius: 1rem;
    border: 1px solid #81d4f7;
    box-shadow: 0 0 1rem #81d4f7;
}

.contact__cta:hover {
    background-color: #eee;
    color: #111;
}

/**************** FOOTER RULES ****************/
.footer {
    margin-top: 10rem;
    padding: 2rem;
    display: grid;
    grid-template-areas: "S P""A A""L L""E E";
    grid-template-columns: 1fr 1fr;
    row-gap: 4rem;
    background-image: linear-gradient(#111 10%, transparent, #111 90%), url("/imgs/welcome-background.webp");
    background-position: center center;
    background-size: cover;
}

.footer__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.footer__header {
    padding: 0.5rem 3rem;
    color: #81d4f7;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    border-bottom: 1px solid #81d4f7;
}

.footer__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 0;
    list-style: none;
}

.footer__items {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer__links {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #eee;
    font-size: 0.7rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1rem;
    transition: text-shadow 0.2s;
}

.footer__links:hover {
    text-shadow: 0 0 1rem #fff;
}

.footer__items-links {
    text-transform: lowercase !important; 
}

.footer__logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    grid-area: L;
}

.footer__logo {
    width: 1.9rem;
    filter: drop-shadow(0 0 2rem #81d4f7);
}

.footer__logo-header {
    color: #81d4f7;
    font-size: 1.5rem;
    font-family: Montserrat;
    font-weight: 500;
    text-shadow: 0 0 2rem #81d4f7;
    letter-spacing: 0.5rem;
}

.footer__policy-container {
    grid-area: P;
}

.footer__sites-container {
    grid-area: S;
}

.footer__links-container {
    grid-area: A;
}

.footer__icons {
    width: 1.1rem;
}

.footer__end-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    grid-area: E;
}

.footer__end-rights {
    font-size: 1rem;
    text-transform: uppercase;
    color: #ddd;
    letter-spacing: 0.2rem;
}

.footer__end-copy {
    font-size: 0.8rem;
    color: #ccc;
    letter-spacing: 0.2rem;
}

/**************** RESPONSIVE RULES ****************/
@media screen and (min-width: 600px) {
    .skills__container {
        padding: 2rem 2rem;
        width: 80%;
    }

    .projects__article {
        height: 20vh;
    }

    .projects__article-description {
        width: 70%;
    }

    .footer {
        grid-template-areas: "S P A""L L L""E E E";
        grid-template-columns: 1fr 1fr 1fr;
    }

    .projects__article {
        height: 16rem;
    }
}

@media screen and (min-width: 768px) {
    .header__nav-item a > p {
        display: block;
    }

    .header__nav-item a > img {
        display: none;
    }

    .section {
        width: 80%;
    }
}

@media screen and (min-width: 1024px) {
    .welcome {
        grid-template-columns: 5fr 1fr;
        grid-template-rows: 1fr;
        padding-left: 10rem;
        height: 80vh;
    }

    .welcome__text-container {
        align-items: flex-start;
        width: 80%;
    }

    .welcome__text {
        width: 100%;
        text-align: left;
    }

    .welcome__nav {
        flex-direction: column;
    }

    .welcome__nav-list {
        flex-direction: column;
        height: 60%;
    }

    .header {
        height: 3rem;
    }

    .header__nav {
        width: 60%;
    }

    .section {
        width: 70%;
    }

    .projects__article {
        gap: 1.5rem;
    }
}

@media screen and (min-width: 1024px) and (min-height: 1025px) {
    .welcome {
        grid-template-columns: 1fr;
        grid-template-rows: 5fr 1fr;
        padding-left: 0;
        height: 60vh;
    }

    .welcome__text-container {
        align-items: center;
        width: 100%;
    }

    .welcome__text {
        width: 70%;
        text-align: center;
    }

    .welcome__nav {
        flex-direction: row;
    }

    .welcome__nav-list {
        flex-direction: row;
        padding: 0 4rem;
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .welcome {
        grid-template-columns: 5fr 1fr;
        grid-template-rows: 1fr;
        padding-left: 10rem;
        height: 80vh;
    }

    .welcome__text-container {
        align-items: flex-start;
        width: 80%;
    }

    .welcome__text {
        width: 100%;
        text-align: left;
    }

    .welcome__nav {
        flex-direction: column;
    }

    .welcome__nav-list {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 60%;
    }

    .skills__container {
        padding: 2rem 2rem;
        width: 60%;
    }

    .projects__article {
        gap: 1.2rem;
        padding: 1.5rem;
        height: 14rem;
    }

    .projects__article-container {
        grid-template-columns: 1fr 1fr;
    }

    .projects__article-description {
        width: 100%;
    }

    .projects__native {
        align-self: center;
        width: 50%;
    }

    .footer {
        padding: 5rem 15rem;
        row-gap: 5rem;
    }
}

@media screen and (min-width: 1900px) {
    html {
        font-size: 22px;
    }
}