/**************** FONTS ****************/
@font-face {
    font-family: WorkSans;
    src: url("/fonts/WorkSans-VariableFont_wght.ttf");
}

/**************** GLOBAL RULES ****************/
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #111;
    color: #eee;
    font-family: WorkSans;
    font-size: 10px;
}

.main__title {
    padding: 1.5rem 0;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.3rem;
}

.section {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
}

.section__title {
    align-self: center;
    margin-bottom: 3rem;
    width: 60%;
    font-size: 1.3rem;
    text-align: center;
}

/**************** HEADER RULES ****************/
.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    width: 100%;
    background-color: #111;
}

.header__logo-container {
    display: flex;
}

.header__logo {
    margin: 0 1rem;
    width: 1.5rem;
}

.header__logo-container h1 {
    font-weight: 600;
    letter-spacing: 0.2rem;
}

.header__nav{
    min-width: 20rem;
    flex-shrink: 1;
}

.header__nav-list {
    display: flex;
    justify-content: space-evenly;
}

.header__nav-item {
    list-style: none;
}

.header__nav-item a {
    color: #eee;
    font-size: 0.7rem;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 0 0.5rem #48e;
    letter-spacing: 0.2rem;
}

.link-selected a {
    color: #48e;
}

.header__nav-item a:hover {
    filter: drop-shadow(0 0 1rem #48e);
}

/**************** WELCOME RULES ****************/
.welcome {
    display: grid;
    grid-template-rows: 5fr 1fr;
    height: 55vh;
    background-image: linear-gradient(#111 10%, transparent, #111 80%), url("/imgs/welcome-background.jpg");
    background-position: center center;
    background-size: cover;
}

.welcome__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome__text-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 80%;
    list-style: none;
}

.welcome__text-items {
    padding: 0.5rem 0;
    color: #48e;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

.welcome__text-explain {
    padding: 1.5rem 0;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
}

.welcome__text {
    width: 70%;
    text-align: center;
}

.welcome__nav-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 4rem;
    list-style: none;
}

.welcome__nav-list svg {
    width: 1.3rem;
}

.welcome__nav-list svg .links {
    fill: #eee;
}

.welcome__nav-list svg:hover {
    filter: drop-shadow(0 0 1rem #48e);
}

/**************** SKILLS RULES ****************/
.skills {
    padding: 2rem 2rem;
}

.skills__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 3rem;
    width: 80%;
    background-color: #181818;
}

.skills__titles {
    margin-bottom: 2rem;
    padding: 0 1rem;
    width: 70%;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1rem;
}

.skills__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0;
    list-style: none;
}

.skills__item {
    padding: 0.6rem 1rem;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem #000;
}

.skills__hard-container {
    border-radius: 2rem 2rem 0 2rem;
    border-top: 1px solid #48e;
    border-right: 1px solid #48e;
    box-shadow: 0px 0px 1rem #48e;
}

.skills__soft-container {
    align-self: flex-end;
    align-items: flex-end;
    border-top: 1px solid #48e;
    border-left: 1px solid #48e;
    border-radius: 2rem;
    box-shadow: 0px 0px 1rem #48e;
}

.skills__soft-container ul {
    flex-direction: row-reverse;
}

/**************** PROJECTS RULES ****************/
.projects {
    align-items: center;
}

.projects__section {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.projects__section-header {
    margin: 1.5rem 0;
    padding: 1rem 0;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-align: center;
    border-bottom: 1px solid #333;
}

.projects__article-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.projects__article {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    height: 20vh;
    background-color: #181818;
    border-radius: 2rem;
    border: 1px solid #48e;
    box-shadow: 0 0 1rem #48e;
}

.projects__article-header {
    font-size: 1.3rem;
    letter-spacing: 0.3rem;
}

.projects__article-description {
    width: 70%;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    line-height: 1.2rem;
}

/**************** RESPONSIVE RULES ****************/